
/* set up classes */
header {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212180;
    color: rgb(205, 221, 255);
    border: solid black;
    justify-content: center;
}
    

body {
background-color: rgb(11, 18, 82);
}

/* added pseudo classes */
button {
  width: 250px;
  margin: 0 .5%;
  font-size: 200%;
  color:  rgb(205, 221, 255);
  background-color: #212180;
  border: 3px solid #000;
}
button:hover {
  background-color: #212180;
  color: rgb(205, 221, 255);
}
section {
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212180;
    color: rgb(205, 221, 255);
    border: solid black;
}
button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}
button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}
   
  

nav {
  padding: 20px;
    
  background-color: #212180;
    color: rgb(205, 221, 255);
    border: solid black;
    display: flex;
    justify-content: right;
    margin-top: 5%;
}

h2 {
  text-decoration-line: underline;
}

/* set up flex box */
.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
}
/* added media query */
@media (max-width: 500px) {
  header {
    color: firebrick;
  }


}